.contactContainer {
  /* display: flex; */
  /* padding-bottom: 150px; */
  height: 100vh;
}
.aquwaCardContact {
  background: rgba(185, 209, 234);
  border-radius: 52px;
  width: 50%;
  margin: auto;
  padding: 40px;
  /* margin-bottom: 150px; */
  position: relative;
  
}
.contactInfo{
     padding-bottom: 150px;
}
.buleCircleC{
  width: 100px;
  height: 100px;
  background-color: '##fdba21';
}
@media screen and (max-width: 664px) {
  .aquwaCardContact {
    width: 60%;
  }
  .contactInfo{
    padding-bottom: 0;
}
}
@media screen and (max-width: 1170px) {
    .contactInfo{
        padding-bottom: 50px;
   }
  }
  