.loader {
  border: 15px solid #fdba21;
  border-radius: 50%;
  border-top: 15px solid #618abb;
  border-bottom: 18px solid #00235e;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 0;bottom: 0;left: 0;right: 0;
  margin:auto;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}