.personalInfoCard{
    display: flex;
    /* justify-content: space-between; */
}
.personalInfoCard p{
    width: 150px;
}
.personalInfoCard input{
    width: 100%;
    background-color: transparent;
    border: none;
    color: #00235e;
}
.logoutContainer{
display: flex;
justify-content: center;
margin-top: 20px;
}
